@use "@/app/styles/variables.scss";

.toolBarWrapper {
  height: variables.$mobile-toolbar-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 2rem);
  display: flex;
}

.iconBackground {
  border-radius: 9999px;
  flex: 1 1 0%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.icon {
  border-radius: 9999px;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 0.5s;
  z-index: 1;
  margin: auto;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}