@use "@/app/styles/variables.scss";

.wrapper {
  --padding: 0.5rem;
  background-color: variables.$panel-background-color;
  border-radius: variables.$border-radius;
  width: 100%;

  padding: var(--padding);

  position: absolute;
  bottom: calc(-1 * (variables.$mobile-border-margin + variables.$mobile-replies-min-height));
  transition: 0.5s;

  z-index: 999;
}

.replies {
  --padding: 0.5rem;
  background-color: variables.$panel-background-color;
  border-radius: variables.$border-radius;
  width: 100%;

  padding: var(--padding);

  position: absolute;
  bottom: calc(-1 * (variables.$mobile-border-margin + variables.$mobile-replies-min-height));
  transition: 0.5s;

  z-index: 999;

  h4 {
    color: variables.$dark-text;
    font-weight: 500;
  }

  p {
    color: variables.$gray-text;
  }
}

.repliesWrapper {
  overflow: hidden;
  border-radius: calc(variables.$border-radius - var(--padding));
}

.replies::-webkit-scrollbar {
  width: 0;
}

.title {
  display: flex;
  gap: 0.2rem;
  height: 1.5rem;
}

.firstReply {
  // overflow: hidden;
  // margin-top: 1rem;
  // overflow-y: auto;
  overflow: hidden;
}

.replyList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.5rem;
  transition: 0.3s;
  height: calc(100% - 6rem);
}