@import "@/app/styles/variables.scss";

.thread {
  width: 100dvw;
  padding: 1rem 2.5dvw;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;

  position: relative;
}

.threadTitle {
  background: $panel-background-color;
  border-radius: 20px;
  height: 60px;
  width: 95dvw;

  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    width: 100%;
    color: $dark-text;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    margin-right: 10px;
    overflow: auto;

    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  h1::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
}

.threadContent {
  background: $panel-background-color !important;
  border-radius: $border-radius;
  padding: 1rem;
  height: calc(65dvh - 100px - 1rem) !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.threadContent > div {
  padding: 0 !important;
  padding-right: 1rem !important;
}
