@import "@/app/styles/variables.scss";

.thread {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: calc($mobile-border-margin + $mobile-headerbar-height) $mobile-border-margin calc($mobile-border-margin + $mobile-toolbar-height + $mobile-border-margin + $mobile-replies-min-height) $mobile-border-margin;

  display: flex;
  flex-direction: column;
  gap: $mobile-border-margin;
  display: flex;
  flex-direction: column;
}

.threadTitle {
  width: 100%;

  background: $panel-background-color;
  border-radius: $border-radius;

  padding: 0.2rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  h1 {
    width: 100%;
    color: $dark-text;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h1::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
}

.threadContent {
  flex-grow: 1;
  background: $panel-background-color !important;
  border-radius: $border-radius;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.threadContent>div {
  padding: 0 !important;
  padding-right: 1rem !important;
}