@import "@/app/styles/variables.scss";

.thread {
  width: 100dvw;
  padding: 1rem 2.5dvw;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.threadTitle {
  background: $panel-background-color;
  border-radius: 20px;
  height: 60px;

  padding-left: 1rem;
  padding-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    width: 100%;
    color: $dark-text;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.threadContent {
  background: $panel-background-color !important;
  border-radius: $border-radius;
  padding: 1rem;
  min-height: calc(65dvh - 100px) !important;
  max-height: calc(65dvh - 100px) !important;
  height: calc(65dvh - 80px) !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.threadContent > div {
  padding: 0 !important;
  padding-right: 1rem !important;
}
