@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500&display=swap");

@import "./variables.scss";

$bg-color-from: #ffe69b;
$bg-color-to: #82d7ff;

* {
  outline: none;
}

body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
}

.wrap {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(
    90% 90% at 0% 0%,
    $bg-color-from 0%,
    $bg-color-to 100%
  );

  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.wrapMobile {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(
    90% 90% at 0% 0%,
    $bg-color-from 0%,
    $bg-color-to 100%
  );

  display: grid;
  grid-template-rows: 10% 75% 15%;
}

.toolbarWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $scrollbar-track-color;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbar-thumb-color;
}
