@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500&display=swap");

@import "./variables.scss";

$bg-color-from: #FFD967;
$bg-color-to: #5193E0;

* {
  outline: none;
}

body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  animation: 1s ease-out 0s 1 fadeIn;
}

.wrap {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: rgb(255, 217, 103);
  background: linear-gradient(127deg, rgba(255, 217, 103, 1) 0%, rgb(205, 205, 205) 25%, rgba(116, 197, 233, 1) 50%, rgba(13, 154, 217, 1) 75%, rgba(81, 147, 224, 1) 100%);

  display: grid;
  grid-template-rows: 12% 74% 14%;
}

.wrapMobile {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: rgb(255, 217, 103);
  background: linear-gradient(127deg, rgba(255, 217, 103, 1) 0%, rgb(205, 205, 205) 25%, rgba(116, 197, 233, 1) 50%, rgba(13, 154, 217, 1) 75%, rgba(81, 147, 224, 1) 100%);

}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbar-thumb-color;
}