$scrollbar-thumb-color: #004c64;
$scrollbar-track-color: rgba(0, 76, 100, 0.29);
$panel-background-color: rgba(255, 255, 255, 0.47);
$border-radius: 1.2rem;
$padding: 1.5rem;

// Fonts
$dark-text: #003f47;
$gray-text: #354242;
