$logoBG: rgba(0, 190, 245, 35%);

.nav {
  height: 60px;
  width: 85dvw;
  margin: 2rem auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: default;
  user-select: none;

  & > img {
    margin: auto 0;
    cursor: pointer;
  }
}
