.userPanel {
  height: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.42);
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 4px;

  img {
    border-radius: 50%;
  }
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px 12px 3px 5px;
  cursor: pointer;
}

.loginUserPanel {
  height: 56px;
  border-radius: 30px;
  background: white;
  width: 246px;
}
