@import "@/app/styles/variables.scss";

.mobileProfile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100dvw;
  height: 100dvh;

  padding-top: $mobile-headerbar-height;
  padding-bottom: $mobile-toolbar-height;

  position: relative;
  overflow-y: auto;
}