.nav {
  width: 80dvw;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: default;
  user-select: none;
}
