@import "@/app/styles/variables.scss";

.app {
  width: 90dvw;
  height: 65dvh;
  max-height: 65dvh;
  border-radius: 1.8rem;
  margin: auto;

  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(10, 1fr);
  }
}

.mainview {
  background-color: transparent;
  grid-column: span 7;
  max-width: 90dvw;
  max-height: 65dvh;
  border-radius: $border-radius;

  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1280px) {
    grid-column: span 6;
  }

  @media screen and (max-width: 800px) {
    grid-column: span 5;
  }
}

.second {
  height: 100%;
  grid-column: span 3;
  overflow-y: hidden;

  @media screen and (max-width: 1280px) {
    grid-column: span 4;
  }

  @media screen and (max-width: 800px) {
    grid-column: span 5;
  }
}