.app {
  width: 90dvw;
  height: 65dvh;
  max-height: 65dvh;
  border-radius: 30px;
  margin: auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;

  @media screen and (max-width: 1280px) {
    display: grid;
    grid-template-columns: 100%;
  }
}

.mainview {
  background-color: transparent;
  grid-column: span 7;
  max-height: 65dvh;
}

.second {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 30px;

  max-height: 65dvh;
  grid-column: span 3;
  overflow-y: hidden;

  @media screen and (max-width: 1280px) {
    display: none;
  }
}