# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Backend
NEXT_PUBLIC_API_URL=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# GitHub token that have read access to MingdaoSIG-Frontend repo
GITHUB_TOKEN=

# Discord webhook URL for displaying login log
NEXT_PUBLIC_WEBHOOK_LOGIN=

# Local Only
# NODE_ENV=development,no-strict

# FORCE_CONTAINERIZED=1
# NODE_OPTIONS=--max-old-space-size=512
