@import "@/app/styles/variables.scss";

.meta {
  background-color: $panel-background-color;
  height: calc(100% - 60px);
  border-radius: 30px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.input {
  min-height: 2rem;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  border-width: 0;
  margin-bottom: 0.75rem;
  outline: none;
  background-color: white;
}

.input[type="file"] {
  display: none;
}

.upload{
height:  2rem;
display: inline-flex;
justify-content: left;
align-items: center;
position: relative;
cursor: pointer;
background-color: white;
border-radius: 2rem;
margin-bottom: 1rem;
user-select: none;
}

.upload::before{
content: "Choose File";
display: flex;
justify-content: left;
align-items: left;
padding: 0.25rem 0.75rem;
margin-right: 5px;
background: #5FCDF5;
border-radius: 2rem;
color: white;
user-select: none;
}

.cover {
  max-height: calc(100% - 13.5rem);
  width: 100%;
  border-radius: 1.5rem ;
}

.unLoginMessage {
  height: 100%;
  width: 100%;
  background-color: $panel-background-color;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
}
