.Thread {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 30px;

  margin-top: 20px;

  height: calc(65dvh - 80px);
  overflow-y: auto;

  // padding: 40px 54px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Thread_1 {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 30px;
  height: 60px;

  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  h1 {
    color: #003f47;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow-x: auto;
    white-space: nowrap;
  }
  h1::-webkit-scrollbar {
    width: 0px;
  }
}

.info {
  background: rgba(255, 255, 255, 0.47);
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.author {
  display: flex;
  gap: 10px;
}

.name {
  color: #002024;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.time {
  color: #006180;
  font-family: Inria Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 2px;
}

.reply {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
