@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wrap {
  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(
    90% 90% at 5% 70%,
    #66daff 0%,
    #dce5e8 100%
  );
}
