@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$bg-color-from: #ffe69b;
$bg-color-to: #82d7ff;
$scrollbar-thumb-color: #004c64;
$scrollbar-track-color: rgba(0, 76, 100, 0.29);

body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  color: black;
}

.wrap {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(
    90% 90% at 0% 0%,
    $bg-color-from 0%,
    $bg-color-to 100%
  );

  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.wrapMobile {
  position: absolute;
  top: 0;

  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(
    90% 90% at 0% 0%,
    $bg-color-from 0%,
    $bg-color-to 100%
  );

  display: grid;
  grid-template-rows: 10% 75% 15%;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $scrollbar-track-color;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbar-thumb-color;
}
