@import "@/app/styles/variables.scss";

.messagePage {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  user-select: none;
  display: flex;
}

.threadWrap {
  width: 100dvw;
  height: 100%;

  padding: $mobile-headerbar-height $mobile-border-margin $mobile-toolbar-height $mobile-border-margin;

  position: relative;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}