.messagePage {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  user-select: none;
  display: flex;
}

.threadWrap {
  width: 100dvw;
  height: 100%;

  position: relative;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
