@import "@/app/styles/variables.scss";


$linksHeight: 1.5rem;
$h2TitleHeight: 1.8rem;

.information {
  padding: $padding;
  background-color: $panel-background-color;
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;

  h2 {
    color: #3c69b4;
    font-size: 1.3rem;
    line-height: $h2TitleHeight;
    font-weight: bolder;
  }

  animation-name: breath;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes breath {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }

    to {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: calc(100% - $linksHeight);
}

.likePostWrapper {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.8rem;
}

.likePost {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  >h3 {
    background-color: $skeleton-background-color;
    border-radius: 0.3rem;
    height: 1rem;
    width: 80%;
    overflow: hidden;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0));
      animation: shimmer 2s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
    
  }

  >p {
    background-color: $skeleton-background-color;
    border-radius: 0.3rem;
    height: 1rem;
    width: 10%;
    overflow: hidden;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0));
      animation: shimmer 2s infinite;
      content: '';
    }
  }
}

.likeTitle {
  position: relative;
  font-weight: 500;
}

.sigs {
  flex-grow: 1;
  position: relative;
}

.sigTitle {
  display: flex;
  align-items: center;
}

.sigCount{
  background-color: $skeleton-background-color;
  position: relative;
  width: 2rem;
  height: 1.3rem;
  overflow: hidden;
  border-radius: 0.3rem;
  margin-left: 5px;


  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0));
    animation: shimmer 2s infinite;
    content: '';
  }
}

.sigTop {
  position: absolute;
  $margin: 0.3rem;
  margin-top: $margin;
  height: calc(100% - $h2TitleHeight - $margin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 1.8rem;
  overflow: hidden;
}

.sig {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(84deg, #6fa8ff 0.71%, #30b4ac 100%);
  padding: 24px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0));
    animation: shimmer 2s infinite;
    content: '';
  }
  
  p {
    width: 88px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 164.523%;
    letter-spacing: 3.76px;
    text-align: center;
    position: relative;
  }
}

.links {
  position: absolute;
  bottom: calc($padding * 0.5);
  left: $padding;
  right: $padding;
  line-height: $linksHeight;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #646464;
}