@import "@/app/styles/variables.scss";

$margin: 0.5rem;
$content-padding: 0.75rem;
$avatar-height: 5rem;
$avatar-border: 0.3rem;
$badge-height: 1rem;

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50dvh;
  // border-radius: $border-radius;
  overflow: hidden;
}

// .banner {
//   position: relative;
//   flex-grow: 1;
//   background-position: center;
//   background-size: cover;
//   background-image: url("/images/banner.svg");
//   z-index: 1;
// }

// .avatarWrapper {
//   position: absolute;
//   bottom: calc(-1 * $avatar-height / 2);
//   padding-left: calc($margin - $avatar-border);
//   padding-right: $margin;
//   width: 100%;
//   user-select: none;

//   display: flex;
//   align-items: flex-end;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .avatar {
//   border-radius: 9999px;
//   border: solid $avatar-border white;
//   background: white;
//   width: $avatar-height;
//   aspect-ratio: 1/1;
//   line-height: calc($avatar-height - 1rem);
//   text-align: center;
// }

.avatar {
  margin-right: 0.5rem;
  border-radius: 9999px;
  border-color: #5fcdf5;
  border-width: 0;
}

.badgeWrapper {
  $badgeWrapper-padding: 0.3rem;
  padding: $badgeWrapper-padding;

  display: flex;
  gap: $badgeWrapper-padding;

  background-color: rgb(200 240 255 / 100%);
  border-radius: 0.3rem;
  margin: auto 0 auto 0;
}

.badge {
  height: $badge-height;
  width: $badge-height;
  cursor: pointer;
}

.contentWrapper {
  height: 30dvh;
  position: relative;
  padding: $margin $margin $margin $margin;

  display: flex;
  flex-direction: column;

  background-color: white;
}

.content {
  background-color: rgb(200 240 255 / 55%);
  border-radius: calc($border-radius - 0.6rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $content-padding $content-padding $content-padding $content-padding;
}

.contentHR {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nameWrapper {
  display: flex;
  width: 100%;
}

.name {
  width: auto;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;

  >p {
    color: #006180;
    font-size: 0.75rem;
    font-weight: 400;
  }

}

.space {
  display: flex;
  flex: 1 1 0%;
}

.joinBtn {
  width: auto;
  height: 2rem;
  display: flex;
  flex: initial;
  align-items: center;
  justify-content: end;
  background-color: #5fcdf5;
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
}

.descriptionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;
}

.descriptionTitle {
  color: black;
  font-weight: bolder;
  letter-spacing: 0;
  font-size: small;
  width: auto;
  flex: initial;
  font-size: 0.75rem;
}

.descriptionEditButton {
  margin-left: 0.3rem;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

.description {
  height: 100%;
  color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  padding-right: 0.25rem;
  cursor: auto;
  resize: none;
  border-radius: 0.3rem;
  font-size: 0.75rem;

  button {
    color: #0070f3;
    text-decoration: none;
    overflow-x: hidden;
  }

  button:hover {
    text-decoration: underline;
  }
}

.description::-webkit-scrollbar {
  width: 0.3rem;
}

.JoinSIGFormInput {
  padding: 0 !important;
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
  margin-top: 0.1rem !important;
}