@import "@/app/styles/variables.scss";

$margin: 2.5rem;
$avatar-height: 6.5rem;
$avatar-border: 0.3rem;

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
}

.banner {
  position: relative;
  flex-grow: 1;
  background-position: center;
  background-size: cover;

  z-index: 1;
}

.avatar {
  display: block;
  position: absolute;
  bottom: calc(-1 * $avatar-height / 2);
  margin-left: calc($margin - $avatar-border);
  border-radius: 9999px;
  border: solid $avatar-border white;
  background: white;
  width: $avatar-height;
  aspect-ratio: 1/1;
  line-height: calc($avatar-height - 1rem);
  text-align: center;
  user-select: none;
}

.content {
  height: 70%;
  position: relative;
  padding: calc($avatar-height / 1.5) $margin $margin $margin;

  display: flex;
  flex-direction: column;

  background-color: white;
}

.name {
  font-size: x-large;

  >p {
    color: #006180;
    font-size: medium;
  }
}

.description {
  margin-top: 1rem;
  font-size: medium;
  overflow-y: auto;
}