.reply {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  cursor: default;
  word-break: break-all;
  text-align: left;

  img {
    margin-bottom: 0 !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  max-width: 100%;
  cursor: auto;
  padding-right: 0.1rem;

  p {
    max-width: 100%;
  }

  button {
    color: #0070f3;
    text-decoration: none;
    overflow-x: hidden;
    text-align: left;
  }

  button:hover {
    text-decoration: underline;
  }
}