@import "@/app/styles/variables.scss";

.threadContent {
  background: $panel-background-color !important;
  border-radius: $border-radius;

  margin-top: 20px;
  padding: 1rem;
  min-height: calc(65dvh - 80px) !important;
  max-height: calc(65dvh - 80px) !important;
  height: calc(65dvh - 80px) !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.threadContent>div {
  padding: 0 !important;
  padding-right: 1rem !important;
}

.threadTitle {
  background: $panel-background-color;
  border-radius: 20px;
  height: 60px;

  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  h1 {
    width: 100%;
    color: #003f47;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.info {
  background: $panel-background-color;
  height: 100%;
  padding: $padding;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.author {
  display: flex;
  gap: 10px;
}

.name {
  color: #002024;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.dot {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.3rem;
  font-weight: bolder;
}

.time {
  color: #006180;
  font-family: Inria Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.customThread {
  height: calc(65dvh - 80px) !important;
  width: 95dvw !important;
  margin: auto;
  margin-top: 20px;
}

.customTitle {
  height: 60px;
  width: 95dvw;
  margin: auto;
}