@import "@/app/styles/variables.scss";

.thread {
  height: 100%;
  animation: 1s ease-out 0s 1 fadeIn;
}

.threadContent {
  background: $panel-background-color !important;
  border-radius: $border-radius;

  margin-top: $gap;
  padding: 1rem;
  height: calc(100% - 3.8rem - $gap) !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.threadContent>div {
  padding: 0 !important;
  padding-right: 1rem !important;
}

.threadTitle {
  background: $panel-background-color;
  border-radius: $border-radius;
  height: 3.8rem;

  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  h1 {
    width: 100%;
    color: #003f47;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  h1::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.info {
  background: $panel-background-color;
  height: 100%;
  padding: $padding;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation: 1s ease-out 0s 1 fadeIn;

  .name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.author {
  display: flex;
  gap: 0.6rem;
}

.name {
  color: #002024;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.dot {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.3rem;
  font-weight: bolder;
}

.time {
  color: #006180;
  font-family: Inria Sans;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.04rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.customThread {
  height: 100% !important;
  width: 95dvw !important;
  margin: auto;
  margin-top: $gap;
}

.customTitle {
  height: 3.8rem;
  width: 95dvw;
  margin: auto;
}