.toggleBtn {
  width: 100px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #002024;
  border-radius: 50%;
  transition: 0.5s;
}

.avatar {
  $height: 6rem;
  $border: 0.3rem;
  display: block;
  position: absolute;
  top: 25%;
  margin-left: calc(2.5rem - $border);
  border-radius: 9999px;
  border: solid $border white;
  background: white;
  width: $height;
  aspect-ratio: 1/1;
  line-height: calc($height - 1rem);
  text-align: center;
}