@use "@/app/styles/variables.scss";

$editor-background: white;

.editor {
  height: calc(70dvh - 3rem);
  padding: 0.25rem 0;
  background-color: $editor-background;
  border-radius: variables.$border-radius;
  overflow: hidden;
  animation: 1s ease-out 0s 1 fadeIn;
}

.editor>div {
  border: none !important;
  height: 100%;
}

.editor>div>div:nth-child(1) {
  padding: 0 1rem;
}

.editor>div>div:nth-child(6) {
  padding: 0 1rem;
}