@import "@/app/styles/variables.scss";
@import "./Button.module.scss";

.meta {
  background-color: $panel-background-color;
  height: calc(100% - $button-block-height - $gap);
  border-radius: $border-radius;
  padding: 2rem;
  position: relative;

  display: flex;
  gap: 0.75rem;
  flex-direction: column;

  >div {
    display: flex;
    flex-direction: column;
  }
}

.inputLabel {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.input {
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  border-width: 0;
  outline: none;
  background-color: white;
}

.inputSelect {
  height: 2rem;
  border-radius: 2rem;
  background-color: white;
  padding-right: 0.5rem;
  overflow: hidden;
  position: relative;

  >select {
    padding-left: 0.5rem;
    width: 100%;
    height: 100%;
    line-height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: white;

    display: flex;
    align-items: center;
  }
}

.input[type="file"] {
  display: none;
}

.upload {
  height: 2rem;
  display: inline-flex;
  justify-content: left;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 2rem;
  user-select: none;
}

.upload::before {
  content: "Choose File";
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  background: #5FCDF5;
  border-radius: 2rem;
  color: white;
  user-select: none;
}

.cover {
  height: 100%;
  background-position: 50%;
  background-size: cover;
  border-radius: calc($border-radius / 2);
}

.unLoginMessage {
  height: 100%;
  width: 100%;
  background-color: $panel-background-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
}