.threads {
  --border-radius: 30px;
  height: 65dvh;
  overflow-y: auto;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thread {
  background: rgba(255, 255, 255, 0.47);
  border-radius: var(--border-radius);
  max-height: 250px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.left {
  padding: 30px;
}

.right {
  border-radius: 30px;
}