@import "@/app/styles/variables.scss";

.meta {
  background-color: $panel-background-color;
  height: calc(100% - 60px);
  border-radius: 30px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.input {
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.unLoginMessage {
  height: 100%;
  width: 100%;
  background-color: $panel-background-color;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
}
