.nav {
  height: 60px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  cursor: default;

  position: relative;
  user-select: none;

  background-color: #fff;
}

.logo {
  margin: auto 0;

  width: 35dvw;
  height: 65px;

  display: flex;
}
