.nav {
  height: 10dvh;
  width: 100%;
  margin: 0;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  user-select: none;
  background-color: #fff;
}
