@import "@/app/styles/variables.scss";

.toolbar {
  height: $mobile-toolbar-height;
  width: 100dvw;

  position: fixed;
  bottom: 0;

  user-select: none;
  backdrop-filter: blur(10px);
  background-color: $mobile-toolbar-color;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.toolbarInner {
  height: 100%;
  width: calc(100% - 2rem);
  margin: 0 auto;
  display: flex;
}