.userPanel {
  height: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.42);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 4px;

  user-select: none;
  -webkit-user-select: none;

  img {
    border-radius: 50%;
  }
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px 12px 3px 5px;
  cursor: pointer;
}

.loginUserPanelWrap {
  width: 100px;
  height: 3rem;
  border-radius: 9999px;
  background: linear-gradient(to right, #6fa8ff, #003f47);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginUserPanel {
  background-color: #ffffff;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  border-radius: 9999px;

  position: relative;
  left: 0.5px;

  display: grid;
  place-content: center;
}
