@import "@/app/styles/variables.scss";

.wrapper {
  padding-top: 1.2rem;
  max-height: 65dvh;
  height: 65dvh;
  max-width: 60rem;
  width: 90dvw;
  margin-left: auto;
  margin-right: auto;
}

.statics {
  display: flex;
  justify-content: space-between;
}

.staticsItem {
  text-align: center;
  display: flex;
}

.itemWrapper {
  width: 12rem;
  height: 6rem;
  background-color: $panel-background-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.itemFlex {
  margin: auto;

  h1 {
    font-size: 1rem;
    font-weight: bold;
    color: $dark-text;
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
    color: $gray-text;
  }
}

.sigChart {
  height: calc(65dvh - 7.2rem);
  width: 90dvw;
  max-width: 60rem;
  background-color: $panel-background-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  margin-top: 1.2rem;
}

// .postLists {
//   height: calc(65dvh - 7.2rem);
//   max-width: 60rem;
//   width: 90dvw;
//   margin-top: 1.2rem;
//   gap: $gap;
//   background-color: $panel-background-color;
//   border-radius: $border-radius;
//   padding: 0.5rem;
//   padding-right: 1rem;
// }

// .postOverflow {
//   height: 100%;
//   overflow-y: auto;
// }

// .postTable {
//   text-align: center;
//   width: 100%;

//   tr {
//     display: flex;
//   }

//   th {
//     flex: 1;
//     margin-bottom: 0.5rem;
//   }

//   td {
//     flex: 1
//   }

//   .contentTR {
//     padding-top: 0.1rem;
//     padding-bottom: 0.1rem;
//     margin-bottom: 0.1rem;
//   }
// }