@import "@/app/styles/variables.scss";

.information {
  padding: $padding;
  background-color: $panel-background-color;
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;

  h2 {
    color: #3c69b4;
    font-size: 1.3rem;
    font-weight: bolder;
  }
}

.likedPosts {
  position: relative;
  h3:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.likePostWrapper {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.2rem;
}

.likePost {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  >h3 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >p {
    width: 3rem;
    color: #A6A6A6;
    font-size: 0.7rem;
    text-align: right;
    white-space: nowrap;
  }
}

// .link {
//   overflow-x: auto;
//   opacity: 40%;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-top: 5px;
//   height: auto;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }

// .link::-webkit-scrollbar {
//   height: 2px;
// }

// .link::-webkit-scrollbar-thumb {
//   background-color: $scrollbar-thumb-color;
//   border-radius: 5px;
// }

// .link::-webkit-scrollbar-track {
//   border-radius: 5px;
//   background: $scrollbar-track-color;
// }

// .link_block {
//   padding-left: 10px;
//   padding-right: 10px;
//   background-color: $panel-background-color;
//   padding: 10px;
//   border-radius: 10px;
// }

.sigs {
  position: relative;
  height: 65%;
  margin-top: 1.5rem;
}

.sig {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(84deg, #6fa8ff 0.71%, #30b4ac 100%);
  padding: 24px 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  :hover {
    text-decoration: underline;
    cursor: pointer;
  }

  p {
    width: 88px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 164.523%;
    letter-spacing: 3.76px;
    text-align: center;
  }
}

.sig_top {
  margin-top: 0.3rem;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.8rem;
  overflow-y: auto;
}

.links {
  position: absolute;
  bottom: $padding;
  left: $padding;
  right: $padding;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #646464;
 :hover {
  text-decoration: underline;
 }
}